<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js"></script>
    <script type="text/javascript" src="state_path_data.js"></script>
    <title>Rolling America</title>
  </head>
  <body>
    <svg
      id="svg"
      xmlns="http://www.w3.org/2000/svg"
      width="1000"
      height="600"
      viewBox="0 150 3000 1750"
    >
    <g id="svgPatterns">
      <color-pattern
        v-for="color in colorObjs"
        :id="color.id_"
        :key="color.id_"
        :color="color"
        :diagonal="true"
        :cross="true"
        :flat="false"
        :stroke="color.stroke"
      />
      <color-pattern
        v-for="color in colorObjs"
        :id="color.half_id"
        :key="color.half_id"
        :color="color"
        :diagonal="true"
        :cross="false"
        :flat="false"
        :stroke="color.stroke"
      />
      <color-pattern
        v-for="color in colorObjs"
        :id="color.flat_id"
        :key="color.flat_id"
        :color="color"
        :diagonal="true"
        :cross="true"
        :flat="true"
        :stroke="invert_hex(color.stroke)"
      />
    </g>

    <g id="numberWheels">

    </g>

      <g id="state-shapes">
        <state-shape
          v-for="state in states"
          :key="state.id"
          :state="state"
          :ref="state.id"
          v-on:state_input="update_object"
        />

        <g id="xCountBox" transform="translate(2550, 1550)">
          <rect x=0 y=0 width=200 height=200 class="xBox"/>
          <text x=30 y=50 class="xBox_2"># of Xes</text>
          <foreignObject x=0 y=75 width=200 height=100>
            <div class="xBox">
              {{counterXes}}
            </div>
          </foreignObject>
          <foreignObject x=150 y=167 width=40 height=40>
            <div class="emptyBox">
              {{counterEmpties}}
            </div>
          </foreignObject>
        </g>
      </g>
    </svg>

    <div id="check-bank">
      <check-box
        v-for="check in checks"
        :key="check.id"
        :check="check"
      />
    </div>

    <div class="spacerOne"/>

    <div id="rollButton">
      <button v-on:click="advance">Roll</button>
    </div>

    <div class="spacerOne"/>


    <div id="rollsList">
      <rolls-table
        v-for="round, index in rounds"
        :key="round.id"
        :round="round"
        :index="index"
      />
    </div>

    <script type="text/javascript" src="rolling_script.js"></script>
  </body>
</html>