path, rect {
fill-rule: evenodd;
stroke-width: 8px;
}

#Oranges, .oranges {
  fill: #fdc89c;
  stroke: #e96c34;
  background-color: #fdc89c;
  border: 2px solid #e96c34;
}

#Yellows, .yellows {
  fill: #ffeda3;
  background-color: #ffeda3;
  stroke: #faaf20;
  border: 2px solid #faaf20;
}

#Purples, .purples {
  fill: #c2c5e6;
  background-color: #c2c5e6;
  stroke: #6c61a5;
  border: 2px solid #6c61a5;
}

#Reds, .reds {
  fill: #f9c0bb;
  background-color: #f9c0bb;
  stroke: #e54e4f;
  border: 2px solid #e54e4f;
}

#Greens, .greens {
  fill: #c1e3cb;
  background-color: #c1e3cb;
  stroke: #04a34e;
  border: 2px solid #04a34e;
}

#Blues, .blues {
  fill: #b7e4f9;
  background-color: #b7e4f9;
  stroke: #0d87d2;  
  border: 2px solid #0d87d2;
}

rect.xBox {
  stroke: black;
  fill: white;
}
div.xBox {
  font-size: 4em;
  text-align: center;
}

text.xBox_2 {
  font-size: 2.5em;
}


.wilds {
  background-color: #ececec;
  border: 2px solid grey;
}

.checkDiv {
  height: 1.27em;
}

.crossedOut{
  text-decoration: line-through;
}

td.rollCell {
  width: 4em;
  height: 2.472em;
  text-align: center;
  border-radius: 5px;
}
table, tr {
  border-radius: 5px;
}


input[type=text] {
  border-width: 0px;
  text-align: center;
  font-size: 4em;
  min-width: 80px;
  min-height: 80px;
  max-width: 100px;
}


